.box {
  width: 500px;
  height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_title {
  width: 90%;
  font-size: 2rem;
  padding: 5px;
}
.blank {
  width: 100%;
  height: 30px;
}
.amount {
  width: 90%;
  font-size: 1.3rem;
}
.graph {
  /* width: 100%; */
  height: 200px;
}
